<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="/www/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/www/css/style.css">
</head>
<body>
    <div class="jumbotron">
        <div id="header" class="container">
            <img id="logo" src="/www/img/logo.png" />
            <h3 id="heading">API Doctor</h3>
        </div>
    </div>

    <div class="container add-bottom">
        <div class="jumbotron" style="max-width: 720px;margin: 0 auto;">

            <h2>Select a service to inspect</h2>

            {% for name in list %}
                <form action="{{api}}/view/{{name}}" method="GET" style="display: inline;">
                    <input class="btn btn-default" type="submit" value="Inspect {{name}}" style="margin: 10px 0;">
                </form>
            {% endfor %}

            <br/><br/><br/>

            <form action="{{api}}/add" method="GET" style="display: inline;">
                <input class="btn btn-default" type="submit" value="Add a new API to the system" style="margin: 10px 0;">
            </form>

        </div>
    </div>

    <script src="/www/js/jquery.min.js"></script>
    <script src="/www/js/check-password.js"></script>
</body>
</html>