<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="/www/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/www/css/style.css">
</head>
<body>
    <div class="jumbotron">
        <div id="header" class="container">
            <img id="logo" src="/www/img/logo.png" />
            <h3 id="heading">API Status</h3>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron" style="max-width: 500px;margin: 0 auto;">

            <h4>API 1: {{code1}}</h4>
            <h4>API 2: {{code1}}</h4>
            <h4>API 3: {{code1}}</h4>

        </div>
    </div>

    <script src="/www/js/jquery.min.js"></script>
    <script src="/www/js/jquery.validate.min.js"></script>
    <script src="/www/js/check-password.js"></script>
</body>
</html>