<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

    <script src="/www/js/d3.v2.min.js" type="application/javascript"></script>
    <script src="/www/js/timeknots.js" type="application/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/www/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/www/css/style.css">
</head>
<body>
    <div class="jumbotron">
        <div id="header" class="container">
            <img id="logo" src="/www/img/logo.png" />
            <h3 id="heading">View {{apiname}} Statistics</h3>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron" style="max-width: 720px;margin: 0 auto;">



        </div>
    </div>

    <script src="/www/js/jquery.min.js"></script>
    <script src="/www/js/view.js"></script>
</body>
</html>