<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

    <script src="/www/js/d3.v2.min.js" type="application/javascript"></script>
    <script src="/www/js/timeknots.js" type="application/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/www/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/www/css/style.css">
</head>
<body>
    <div class="jumbotron">
        <div id="header" class="container">
            <img id="logo" src="/www/img/logo.png" />
            <h3 id="heading">API Doctor</h3>
        </div>
    </div>

    <div class="container add-bottom">
        <div class="jumbotron" style="max-width: 720px;margin: 0 auto;">

            <h3>Realtime statistics for API: {{apiname}}</h3>
            <div id="timeline" style="width:500px;"></div>

            <form action="{{api}}" method="GET" style="display: inline;">
                <input class="btn btn-default" type="submit" value="Back to API list" style="margin: 10px 0;">
            </form>

        </div>
    </div>

    <script src="/www/js/jquery.min.js"></script>
    <script src="/www/js/view.js"></script>
    <script>
        var apihost = "{{api}}";
        var apiname = "{{apiname}}";
        query(apihost, apiname);
    </script>
</body>
</html>