body {
  background: #c90006;
  color: #ffffff;
  font-family: "Calibri", sans-serif;
}
.add-bottom {
  margin-bottom: 200px;
}
.jumbotron {
  background: #a60000;
}
#logo {
  display: inline;
  width: 100px;
  border-radius: 5px;
}
#heading {
  display:inline;
  padding-left: 30px;
}
#privacy {
  font-family: "Lato", sans-serif;
}
#privacy > p{
  font-size: 100%;
}
.tdata {
  padding: 3px 5px;
}
text {
  color: white;
}